$white: #ffffff;
$black: #000000;
$grey: #68747b;
$mid-grey: #cacaca;
$light-grey: #f4f4f4;
$light-mid-grey: #d7d8d8;
$primary-color: #006b6d; // dark green
$secondary-color: #00b1af;
$third-color: #9bd4c0;
$highlight-color: #4bb394; // light green
$section-jump: 60px;
